body{
    margin:0;
    padding:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header {
    display: flex;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.page-header{
    background: url(../images/s.jpg);
    
}
.header {
    overflow: hidden;
    padding: 20px 10px;
}
.main-nav ul{
    display: flex;
    justify-content: flex-end;
    margin:0;
    padding:0;
}
.main-nav a:hover{
    color: #646d1c;
}
.main-nav-first li, .main-nav-second li{ 
    padding:  15px 24px;
    font-size:20px;
}
.main-nav-first li{
    margin-top:20px;
} 
.dropdown-content{
    display: none;
    position: absolute;
    background-color:gray;
    min-width:110px;
}
.dropdown-content a {
    padding: 12px 16px;
    display: block;
}
.dropdown-content a:hover {
    background-color: #1b5b68;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.fa-shopping-cart::after{
    margin-left: 35px;
    content: '';
    border: 1px solid black;
    padding: 5px 0;
} 
.main-screen{
    margin-top:5px;
    display:flex;
    flex-direction: row;
}
.grid-item1{
    width:90%;
    margin-left:-10px;
}
.grid-item1 img{
    width:100%;
    height:100%;
    padding-left: 10px;
}
.grid-item2{
    display: flex;
    flex-direction: column;
    width:30%;
    padding-left:15px;
    margin-top:-2px;
    margin-bottom:-2px;
}
.grid-item2 img{
    width:100%;
    padding-top:2px;
}
section.stripe-large {
    background: url(../images/d.jpg);
    height: 400px;
}
section.stripe-large h2 {
    font-family:Roboto;
    color:white;
    font-size:40px;
    padding-top: 125px;
}
.stripe-large__container{
    text-align: center;
}
.stripe-large__container input{
    padding: 5px 30px 8px 15px;
    width: 435px;
}
.stripe-large__container .fa-search{
    margin-left: -25px;
    color:gray;
}
.package-list {
    display: flex;
    flex-wrap: wrap;
    width:890px;
    justify-content: space-between;
    padding:70px 0;
    margin:0 auto;
}
.package-list__item{
    padding: 20px;
    width: 250px;
}
.package-list__item img{
    height: 200px;
    width: 292px;
    margin-left: -21px;
    object-fit: cover;
}
.package-list__item:hover{
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.08);
  transition: box-shadow 0.3s ease-in-out;
}
.package-list-details{
    position: relative;
    border: 1px solid grey;
    border-width: 0 1px 1px 1px;
    height: 200px;
    width: 290px;
    margin-left: -21px;
    margin-top: -42px;
}
.package-list-details .rate{
    position: absolute;
    left: 19%;
    top: 85%;
}
.package-list-details .type{
    position: absolute;
    color:#3f3f3f;
    left: 37%;
    top: 25%;
}
.package-list-details .details{
    position: absolute;
    top:40%;
    text-align: center;
}
.fa-heart{
    color:#3f3f3f;
    margin-left: 120px;
}
.details a{
    color: #3f3f3f;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Oswald', arial, sans-serif;
    line-height: 1;
    letter-spacing: 1px;
}
.rate a{
    color:#3f3f3f;
}
.circle{
    position: relative;
    margin-top: -100px;
    left: 40%;
    border-radius: 57%;
}
.fa-pencil-alt{
    background: #1b5b68;
	color: #000000;
    padding: 20px 20px;
}
.fa-pencil-alt::before{
    font-size: 28px;
}
.container__images ul{
    display: flex;
    flex-wrap: wrap;
}
.help-list{
    display: flex;
    background-color: #646d1c;
    height: 180px;
    padding-top: 85px;
    color:white;
}
.help-list .item{
    position: relative;
    width:33.33%;
}
.item .help{
    text-align: center;
    margin-top: 40px;
    margin-left: auto;
    width: 150px;
    margin-right: auto;
}
.item .donate{
    position: absolute;
    bottom: 25px;
    left: 45%;
    text-decoration: underline;
}
.item a{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
.help-list .item-sub{
    position: relative;
    width:33.33%;
}
.item-sub .help{
    text-align: center;
    margin-top: 40px;
    margin-left: auto;
    width: 150px;
    margin-right: auto;
}
.item-sub a{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}
.item-sub .donate{
    position: absolute;
    bottom: 25px;
    left: 45%;
    text-decoration: underline;
}
.item-sub::before{
    content: '';
    border: 1px solid white;
    padding-bottom:80px;
}
.item::before{
    content: '';
    border: 1px solid white;
    padding-bottom:80px;
}
.fa-book-open{
    position: relative;
    left:46%;
}
.fa-book-open::before{
    font-size: 25px;
}
.container__images{
    position: relative;
    padding-top: 20px;
}
.container__images ul{
    margin-left: -40px;
    width:100%;
}
.container__images li{
    width:16.66%;
}
.container__images img{
    height: 200px;
    object-fit: cover;
    margin-top: -3px;
    width:100%;
}
.container__images h3{
    position: absolute;
    top: 40%;
    left: 42%;
    color:white;
    font-size:35px;
    text-shadow: 2px 2px gray;
}
.container__images h3:hover{
    color:pink;
    font-size:35px;
    text-shadow: 2px 2px black;
}
.footer{
    height: 250px;
    background: #1b5b68;
}
.footer .icons{
    justify-content: center;
    padding-top:25px;
}
.footer-nav{
    display: flex;
    justify-content: space-evenly;
    padding: 40px 70px;
}
.footer-nav a{
    color:white;
}
.footer-nav input{
    background: #1b5b68;
    padding: 7px 23px;
    color:white;
}
.footer-nav button{
    padding:7px;
}
.footer .footer4{   
    color:white;
    text-align:center;
    margin-top:-25px;
}
.footer .form{
    padding-top:35px;
    color:black;
}
.footer .icons a{
    color:#1b5b68;
    font-size: 25px;
    padding:5px;
}
.fa-twitter{
	background: #ffffff;
    padding: 11px 12px;
}
.fa-facebook-f {
    background: #ffffff;
    padding: 11px 18px;
}
.footer .icons a:hover{
    color:red;
}
.footer .icons .circle:hover{
    background:black;
}
.fa-google-plus-g{
    background: #ffffff;
    padding: 10px 8px;
}

.fa-camera{
    background: #ffffff;
    padding:11px 11px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: black;
}
  ::-moz-placeholder { /* Firefox 19+ */
    color: black;
}
  :-ms-input-placeholder { /* IE 10+ */
    color: black;
}
  :-moz-placeholder { /* Firefox 18- */
    color: black;
}
input, select, textarea {
    color: #444444;
}
[type*="button"] {
    color:black;
    cursor: pointer;
}
@media (min-width:320px) and (max-width:480px){
    .main-nav ul{
        float:none;
        display:none;
    }
   .stripe-large__container input{
       width:50%;
   }
   /* section.stripe-large{
       width:100%;
   } */
   .footer-nav{
       flex-direction: column;
   }
   .footer .circle{
    position: relative;
    margin-top: -100px;
    left:10%;
    border-radius: 57%;
   }
    .footer{
        height:550px;
    }
   .footer-nav a{
       font-size:25px;
   }
    .container__images h3{
        font-size:20px;
        
    }
    .help-list .item{
        width:27%;
    }
    .package-list{
        flex-direction: column;
        width:100%;
       align-items: center;
    }
    .main-screen{
        flex-direction: column;
    }
    .grid-item1{
        width:100%;
        padding-left: 0px;
        padding-bottom:7px;
    }
    .grid-item2{
        flex-direction: row;
        width:100%;
        padding-left:0px;
        padding-right:7px;
    }
    .grid-item1 img{
        width:103%;
        height:100%;
        padding-left: 0px;
        
    }
    .grid-item2 img {
        width:100%;
    padding-top:0;
    }
    .grid-item2 .right{
        padding-left:7px;
    }
}


