body{
    margin:0;
    padding:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header {
    display: flex;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.page-header{
    background: url(../images/s.jpg);
    
}
.header {
    padding: 20px 10px;
}
.main-nav ul{
    display: flex;
    justify-content: flex-end;
    margin:0;
    padding:0;
}
.main-nav a:hover{
    color: #646d1c;
}
.main-nav-first li, .main-nav-second li{ 
    padding:  15px 24px;
    font-size:20px;
}
.main-nav-first li{
    margin-top:20px;
} 
.dropdown-content{
    display: none;
    position: absolute;
    background-color:gray;
    min-width:110px;
}
.dropdown-content a {
    padding: 12px 16px;
    display: block;
}
.dropdown-content a:hover {
    background-color: #1b5b68;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.fa-shopping-cart::after{
    margin-left: 35px;
    content: '';
    border: 1px solid black;
    padding: 5px 0;
} 
.main-screen{
    margin-top:5px;
    display:flex;
}
.grid-item1{
    width:100%;
    margin-left:-10px;
}
.grid-item1 img{
    width:100%;
    height:100%;
    padding-left: 10px;
    object-fit: cover;
}
.grid-item2{
    display: flex;
    flex-direction: column;
    width:30%;
    padding-left:15px;
    margin-top:-2px;
    margin-bottom:-2px;
}
.grid-item2 img:first-child{
    padding-bottom:3px;
}
.grid-item2 img{
    padding-top:2px;
    object-fit: cover;
    height: 50%;
}
section.stripe-large {
    background: url(../images/d.jpg);
    height: 400px;
}
section.stripe-large h2 {
    font-family:Roboto;
    color:white;
    font-size:40px;
    padding-top: 125px;
}
.stripe-large__container{
    text-align: center;
}
.stripe-large__container input{
    padding: 8px 30px 8px 15px;
    width: 435px;
}
.stripe-large__container .fa-search{
    margin-left: -25px;
    color:gray;
}
.package-list {
    display: flex;
    flex-wrap: wrap;
    width:890px;
    justify-content: space-between;
    padding:70px 0;
    margin:0 auto;
}
.package-list__item{
    position: relative;
    padding: 20px;
    width: 250px;
}
.package-list__item img{
    height: 200px;
    width: 292px;
    object-fit: cover;
}

.package-list-details{
    border: 1px solid grey;
    border-width: 0 1px 1px 1px;
    height: 200px;
    width: 290px;
}
.package-list-details .type{
    text-align: center;
    display: block;
    padding:38px 0;
    color:#3f3f3f;
   
}
.package-list-details .details{
    display: block;
    text-align: center;
    margin-top:-25px;
}
.fa-heart{
    color:#3f3f3f;
    margin-left: 120px;
}
.details a{
    color: #3f3f3f;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Oswald', arial, sans-serif;
    line-height: 1;
    letter-spacing: 1px;
}
.rate a{
    display: block;
    text-align: center;
    margin-top:45px;
    color:#3f3f3f;
    font-size:20px;
}
.circle1{
    position: absolute;
    left: 45%;
    top:185px;
    border-radius: 57%;
}
.circle{
    border-radius: 57%;
}
.fa-pencil-alt{
    background: #1b5b68;
	color: #000000;
    padding: 20px 20px;
}
.fa-pencil-alt::before{
    font-size: 28px;
}
.container__images ul{
    display: flex;
    flex-wrap: wrap;
}
.help-list{
    background-color: #646d1c;
    display: flex;
    height:140px;
    padding-top: 85px;
    height: 100px;
    color:white;
}
.help-list .item{
    width:33.33%;
    color:white;
    text-align: center;
    margin-top: -35px;
}
.fa-book-open::before {
    font-size: 22px;
}
.item .help{
    margin-left: auto;
    width: 150px;
    margin-right: auto;
}
.item .help a{
    color:white;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
.item .donate{
    text-decoration: underline;
    color:white;
    text-align: center
}
.container__images{
    position: relative;
}
.container__images ul{
    margin-left: -40px;
    width:100%;
}
.container__images li{
    width:16.66%;
}
.container__images img{
    height: 200px;
    object-fit: cover;
    margin-top: -3px;
    width:100%;
}
.container__images h3{
    position: absolute;
    left: 42%;
    top: 35%;
    color:white;
    font-size:35px;
    text-shadow: 2px 2px gray;
}
.container__images h3:hover{
    color:pink;
    font-size:35px;
    text-shadow: 2px 2px black;
}
.footer{
    height:100%;
    background: #1b5b68;
}
.footer .icons{
    padding-top:25px;
    text-align: center;
}
.footer-nav{
    display: flex;
    justify-content: space-evenly;
    padding: -1px 0px;
}
.footer-nav a{
    color:white;
}
.footer-nav input{
    background: #1b5b68;
    padding: 7px 23px;
    color:white;
}
.footer-nav button{
    padding:7px;
}
.footer .footer4{   
    color:white;
    text-align:center;
    margin-top:-25px;
}
.footer .form{
    padding-top:35px;
    color:black;
}
.footer .icons a{
    color:#1b5b68;
    font-size: 25px;
    padding:5px;
}
.fa-twitter{
	background: #ffffff;
    padding: 11px 12px;
}
.fa-facebook-f {
    background: #ffffff;
    padding: 11px 18px;
}
.footer .icons a:hover{
    color:red;
}
.footer .icons .circle:hover{
    background:black;
}
.fa-google-plus-g{
    background: #ffffff;
    padding: 10px 8px;
}

.fa-camera{
    background: #ffffff;
    padding:11px 11px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: black;
}
  ::-moz-placeholder { /* Firefox 19+ */
    color: black;
}
  :-ms-input-placeholder { /* IE 10+ */
    color: black;
}
  :-moz-placeholder { /* Firefox 18- */
    color: black;
}
input, select, textarea {
    color: #444444;
}
[type*="button"] {
    color:black;
    cursor: pointer;
}

/* Media Query for Smartphones */
@media (min-width:320px) and (max-width:480px){
    .main-nav ul{
        float:none;
        display:none;
    }
    .main-screen{
        flex-direction: column;
    }
    .stripe-large__container input{
        width:50%;
    }
    .footer-nav{
        flex-direction: column;
        padding:20px 0;
    }
    .footer-nav ul{
        text-align: center;
        padding-inline-start: 0;
    }
    .footer .form{
        text-align: center;
        padding:0;
    }
    .footer{
        height:100%;
    }
    .help-list .item{
        width:26%;
    }
    .package-list{
        flex-direction: column;
        width:100%;
        align-items: center;
    }
    
    .grid-item1{
        width:100%;
        padding-left: 0px;
        padding-bottom:7px;
    }
    .grid-item2{
        flex-direction: row;
        width:100%;
        padding-left:0px;
    }
    .grid-item2 img:first-child{
        padding-right:10px;
    }
    .grid-item2 img {
        width:49%;
        padding-top:0;
    }
    .footer .form{
        display:block;
    }
    .container__images li{
        width:33.33%;
    }
    .stripe-large__container input{
        padding: 4px 76px 4px 9px;
        font-size:8px;
    }
    section.stripe-large h2{
        font-size:20px;
    }
    .container__images h3 {
        top: 40%;
        left: 20%;
        font-size:30px;
        text-shadow: 2px 2px grey;
    }
    .container__images img {
        height: 100%;
        object-fit: cover;
    }
    .fa-book-open::before {
        display: none;
    }
    .fa-search::before{
        font-size: 10px;
    }
    .help-list{
        display: none;
    }
    .circle{
        border-radius: 57%;
    }
}
/* Media Query for Tablets */
@media (min-width:481px) and (max-width:767px){
    .main-nav ul{
        float:none;
        display:none;
    }
    .main-screen{
        flex-direction: column;
    }
    .grid-item1 img{
        width:100%;
    }
    .grid-item2 img:first-child{
        padding-right:10px;
    }
    .grid-item1{
        width:100%;
        padding-left: 0px;
        padding-bottom:7px;
    }
    .grid-item2{
        flex-direction: row;
        width:100%;
        padding-left:0px;
    }
    .grid-item2 img:first-child{
        padding-right:10px;
    }
    .grid-item2 img {
        width:50%;
        padding-top:0;
    }
    .circle1{
        left:37%;
    }
    .stripe-large__container input{
        width:50%;
    }
    .stripe-large__container input{
        padding: 7px 81px 6px 10px;
        font-size: 10px;
    }
    .footer-nav{
        flex-direction: column;
        padding:20px 0;
    }
    .package-list{
        width:100%;
    }
    .package-list__item{
        width:41%;
    }
    .package-list__item img{
        width: 100%;
    }
    .package-list-details{
        width: 100%;
    }
    .grid-item2 img:first-child{
        padding-right:10px;
    }
    .footer-nav ul{
        text-align: center;
        padding-inline-start: 0;
    }
    .footer .form{
        text-align: center;
        padding:0;
    }
    .footer{
        height:100%;
    }
    .container__images img {
        height: 100%;
        width:100%;
        object-fit: cover;
    }
    .container__images h3{
        font-size: 35px;
        left: 33%;
        top: 41%;
    }
    .container__images li{
        width:25%;
    }
    .help-list a{
        font-size:14px;
    }
    .fa-book-open::before {
        font-size: 18px;
    }
}

@media (min-width:768px) and (max-width:1024px){
    .logo-holder{
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-end: 0;
        margin-inline-start: 0;
    }
    .main-screen{
        flex-direction: column;
    }
    .main-nav-first li, .main-nav-second li{ 
        padding: 15px 12px;
    }
    .fa-shopping-cart::after{
        margin-left: 7px;
    }     
    .main-nav i{
        display: none;
    } 
    .grid-item1 img{
        width:100%;
    }
    .grid-item2 img {
        width:50%;
        padding-top:0;
    }
    .grid-item2 img:first-child{
        padding-right:10px;
    }
    .grid-item1{
        width:100%;
        padding-left: 0px;
        padding-bottom:7px;
    }
    .grid-item2{
        flex-direction: row;
        width:100%;
        padding-left:0px;
    }
    .grid-item2 img:first-child{
        padding-right:10px;
    }
    
    .package-list{
        width:100%;
    }
    .package-list__item{
        width:41%;
    }
    .package-list__item img{
        width: 100%;
    }
    .package-list-details{
        width: 100%;
    }
    .help-list a{
        font-size:16px;
    }  
    .fa-book-open::before {
        font-size: 20px;
    }
}
@media (min-width:1025px) and (max-width:1280px){
    .logo-holder{
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-end: 0;
        margin-inline-start: 0;
    }
    .main-screen{
        flex-direction: column;
    }
    .main-nav-first li, .main-nav-second li{ 
        padding: 15px 15px;
    }
    .fa-shopping-cart::after{
        margin-left: 7px;
    }
    .grid-item1 img{
        width:100%;
    }
    .grid-item2 img {
        width:50%;
        padding-top:0;
    }
    .grid-item2 img:first-child{
        padding-right:10px;
    }
    .grid-item1{
        width:100%;
        padding-left: 0px;
        padding-bottom:7px;
    }
    .grid-item2{
        flex-direction: row;
        width:100%;
        padding-left:0px;
    }
    .grid-item2 img:first-child{
        padding-right:10px;
    }
    .help-list a{
        font-size:20px;
    } 
    .item .help a{
        font-size: 20px;
    }
    .fa-book-open::before {
        font-size: 22px;
    }
}

